/*Contacto*/
.menuContacto {
    background-image: url(../Multimedia/fondo10.jpg);
    background-position-y: 50%;
    color: #000;
    font-weight: $textos-weigth+300;
  }
  .h3Contacto {
    background-color:$verde-fondo;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
  }
